.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    color: gray;
    font-weight: bold;
}

.username {
    font-weight: 500;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avatar {
    object-fit: cover;
    border-radius: 50%;
}


